<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="VehicleDemoDB" connectionString="server=HOME-PC;Database=VehicleDemoDB;Integrated Security = True" />
  <add name="VehicleDemoDBEntities" connectionString="metadata=res://*/VehicleEnitites.csdl|res://*/VehicleEnitites.ssdl|res://*/VehicleEnitites.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HOME-PC;initial catalog=VehicleDemoDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>